<h1>******** Now your result ********</h1>
<p><%=@time%></p>
<p><%=@answer%></p>

<!-- result = run_game(attempt, grid, start_time, end_time)

puts "Your word: #{attempt}"
puts "Time Taken to answer: #{result[:time]}"
puts "Translation: #{result[:translation]}"
puts "Your score: #{result[:score]}"
puts "Message: #{result[:message]}" -->
